@{
    ViewData["Title"] = "Главная";
}

<h2>Добро пожаловать</h2>
<div class="divCenter">
    <div style="font-size: 1.3em; max-width: 80%; margin: 0 auto;">
        <p>Вы зашли на сайт нашего сервиса по ремонту компьютерной техники.</p>
        <p>Мы заботимся о вашем устройстве так же, как вы о нем. Наша команда профессионалов готова помочь вам вернуть ваш компьютер в рабочее состояние.</p>
        <p>Если вы уже зарегистрированы, пожалуйста, войдите в свою учетную запись, чтобы получить доступ ко всем нашим услугам.</p>
        <p>Если же нет, то мы всегда рады вас видеть в нашем сервисном центре, где вам починят вашу технику и создадут учётную запись для использования сайта.</p>
    </div>
</div>
