@{
    ViewData["Title"] = "Главная";
}

<h2>Добро пожаловать</h2>
<div class="divCenter">
    <div style="font-size: 1.3em; max-width: 80%; margin: 0 auto;">
        <p class="greetings">Вы зашли на сайт нашего сервиса по ремонту компьютерной техники.</p>
        <p class="greetings">Мы заботимся о вашем устройстве так же, как вы о нем. Наша команда профессионалов готова помочь вам вернуть ваше устройство в рабочее состояние.</p>
        <p class="greetings">Если вы уже зарегистрированы, пожалуйста, войдите в свою учетную запись, чтобы получить доступ ко всем нашим услугам.</p>
        <p class="greetings">Если же нет, то мы всегда рады вас видеть в нашем сервисном центре, где вам создадут учётную запись для использования сайта.</p>
    </div>
</div>
