<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/btnColor.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <svg style="margin-right: 1.5em" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z" />
                <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z" />
            </svg>
            <h1><b>Ремонт компьютерной техники</b></h1>
            <div style="margin-left: 2em" class="navbar-nav">
                <a class="nav-item nav-link" href="/Repairs/GetAllRepairs">Ремонты</a>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Всё о запчастях
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Accessories/GetAllAccessories">Запчасти (комплектующие)</a>
                        <a class="dropdown-item" href="/OrderAccessories/GetAllOrderAccessories">Заказы комплектующих</a>
                        <a class="dropdown-item" href="/Suppliers/GetAllSuppliers">Поставщики</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Всё о клиентах
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Clients/GetAllClients">Клиенты</a>
                        <a class="dropdown-item" href="/Devices/GetAllDevices">Устройства</a>
                    </div>
                </div>
                <a class="nav-item nav-link" href="/Roles/GetAllRoles">Роли</a>
                <a class="nav-item nav-link" href="/Staff/GetAllStaff">Сотрудники</a>
            </div>
            <a type="button" onclick="openAutorization()" data-toggle="ajax-modal" data-target="#Modal" style="margin-left: auto" class="nav-item nav-link">
                <svg style="margin-left: 0.25em" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
            </a>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <div class="modal fade" id="modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content modalBackground">
                <div class="modal-header">
                    <h3 class="modal-title" id="modalTitle"></h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button class="red" style="border: 0.1em solid red" type="button" data-bs-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

    @if (TempData["Successfully"] != null)
    {
        <div id="overlay">
            <div id="popup">
                @TempData["Successfully"]
            </div>
        </div>
    }

    <div class="modal fade" id="confirmDelete">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content modalBackground borderBlack">
                <div class="modal-body">
                    <p style="text-align: center; font-size: 2em">Вы уверены?</p>
                </div>
                <div class="modal-footer">
                    <button class="buttonYesNo green" style="margin-left: 2em" type="button" id="buttonYes">Да</button>
                    <button class="buttonYesNo red" style="margin-right: 2em" type="button" data-bs-dismiss="modal">Нет</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="autorization">
        <div class="modal-dialog modal-dialog-scrollable" style="width: 22em">
            <div class="modal-content modalBackground borderBlack">
                <div class="modal-header" style="height: 4em">
                        <h2 class="modal-title" id="modalTitle">Авторизация</h2>
                </div>
                <div class="modal-body">
                    <div class="divCenter">
                        <span id="error-message"></span>
                        <form id="autorizationForm" asp-action="Enter">
                            <div class="divLeft">
                                    <label>Логин:</label> <br />
                                    <input name="login" placeholder="Введите логин" onchange="removeExtraSpaces(this)" required type="text" /> <br />

                                    <label>Пароль:</label> <br />
                                    <input name="password" placeholder="Введите пароль" onchange="removeExtraSpaces(this)" required type="text" />
                            </div> <br />

                            <button style="margin-right: 2em" class="green">Войти</button>
                            <button class="red" type="button" data-bs-dismiss="modal">Отмена</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p class="pFooter">&copy; Ремонт компьютерной техники 2024</p>
        <p class="pFooter">Разработчик: <a href="https://t.me/P0B0T">Телеграмм</a></p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/modal.js" asp-append-version="true"></script>
    <script src="~/js/successfully.js" asp-append-version="true"></script>
    <script src="~/js/trim.js" asp-append-version="true"></script>
    <script src="~/js/search.js" asp-append-version="true"></script>
    <script src="~/js/filters.js" asp-append-version="true"></script>
    <script src="~/js/fillSelect.js" asp-append-version="true"></script>
    <script src="~/js/autorization.js" asp-append-version="true"></script>
    <script src="~/js/clearSelect.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>