nav, footer, .nav-item:hover, .dropdown-menu {
    background-color: #e5e5e5
}

.modalBackground, body, select option {
    background-color: #1A7E90
}

.modal-header {
    border-bottom: 0.1em solid #e5e5e5
}

.dropdown-item:hover {
    background-color: #acacac
}

.pFooter {
    color: black
}

.greetings, h2, label, h3, p, h5 {
    color: #e5e5e5
}

button, .counter::before {
    color: #e5e5e5;
    border: 0.1em solid #e5e5e5
}

input, textarea {
    color: #e5e5e5;
    border: 0.1em solid #e5e5e5;
    background-color: transparent
}

select {
    color: #e5e5e5;
    border: 0.1em solid #e5e5e5;
    background-color: transparent
}

span {
    color: darkred
}

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

#popup {
    background-color: #e5e5e5;
    border: 0.001em solid #e5e5e5;
    color: green
}

::placeholder {
    color: #b6b6b5
}

hr {
    border-top: 0.3em solid #e5e5e5
}

button:hover {
    color: black !important
}

.buttonAdd, .divGet {
    border: 0.1em solid #e5e5e5
}

@media (prefers-color-scheme: dark) {
    body, select option {
        background-color: #0b363e
    }

    nav, footer, .dropdown-menu, .nav-item:hover {
        background-color: #4e4e51
    }

    button, .buttonAdd, .divGet {
        color: lightgray;
        border-color: lightgray;
        border-radius: 0.3em
    }

    h2, h3, label, p {
        color: lightgray
    }

    select, input, textarea {
        color: lightgray;
        border: 0.1em solid lightgray;
        background-color: transparent
    }

    .modalBackground {
        background-color: #0b363e;
        border: 0.001em solid lightgray
    }

    #popup {
        background-color: lightgray;
        border: 0.001em solid lightgray
    }

    button:hover {
        color: lightgray !important
    }

    button.btnTheme:hover {
        color: black !important
    }

    ::placeholder {
        color: #656562
    }

    hr {
        border-top: 0.3em solid lightgray
    }
}