nav {
    background-color: #666669;
    padding-left: 2em;
    padding-right: 2em;
    font-family: Allods Regular Cyr
}

main {
    flex: 1;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em
}

.modalBackground {
    background-color: #9b9b9a
}

.modal-header {
    border-bottom: 0.1em solid black
}

body {
    counter-reset: counter;
    background-color: #9b9b9a
}

footer {
    text-align: center;
    background-color: #666669;
    padding: 1em;
}

h1 {
    font-size: 1.7em
}

.nav-item, .dropdown-item {
    color: black;
    font-size: 1.3em
}

.nav-item:hover {
    color: #9b9b9a;
}

p, label, #navbarDropdown {
    color: black
}

a {
    border-radius: 0.3em;
    color: black
}

button {
    font-size: 1em;
    border: 0.1em solid black;
    border-radius: 0.3em;
    background-color: transparent
}

h2 {
    margin: 1em 0em 1em 0em;
    text-align: center;
    font-family: Allods Regular Cyr;
    font-weight: 700
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

select, input {
    color: black;
    margin-bottom: 2em;
    border: 0.1em solid black;
    background-color: #9b9b9a;
    border-radius: 0.3em
}

textarea {
    color: black;
    border: 0.1em solid black;
    width: 20em;
    height: 5em;
    background-color: #9b9b9a;
    border-radius: 0.3em
}

.divCenter {
    text-align: center;
    margin-top: 2em
}

.divLeft {
    display: inline-block;
    text-align: left
}

.divGet {
    margin-top: 2em;
    max-width: 35em;
    border: 0.1em solid black;
    border-radius: 0.3em;
    background-color: transparent
}

span {
    color: red;
    font-weight: bold
}

.buttonAdd {
    font-size: 1.4em;
    border: 0.1em solid black;
    border-radius: 0.3em;
    background-color: transparent;
    display: none
}

.pFooter {
    margin-bottom: 0
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    font-size: 5em
}

#popup {
    background-color: #9b9b9a;
    border: 0.001em solid black;
    color: green;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.buttonYesNo {
    width: 10em;
    font-size: 1.2em
}

.borderBlack {
    border: 0.1em solid black;
}

.form-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

::placeholder {
    color: #414140
}

.searchRes {
    background-color: #787876
}

.divControl {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7em
}

.searchEl {
    margin-bottom: 0
}

.divRows {
    display: flex;
    justify-content: flex-start;
}

.divRows > div:nth-child(n+2) {
    margin-left: 2em
}

.divRows > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.counter::before {
    counter-increment: counter;
    content: counter(counter);
    font-size: 2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0.5em;
    border: 0.1em solid black;
    border-radius: 50%;
    padding: 0.2em 0.5em;
    height: 1.8em
}

hr {
    margin-top: 0;
    margin-bottom: 3em;
    border-top: 0.3em solid black
}

.formFilter > * {
    margin-right: 0.2em
}

.dropdown-menu {
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    background-color: #9b9b9a;
    border-left: solid black;
    border-right: solid black;
    padding: 0.5em;
}

.dropdown-menu li:first-child {
    border-top: solid black
}

.dropdown-menu li:last-child {
    border-bottom: solid black
}

.filterEl {
    width: 15em;
    height: 1.8em;
    margin: 0
}

img {
    width: 25em;
    height: 20em
}

input[type=file]::file-selector-button {
    font-size: 1em;
    background-color: transparent;
    border-right: 0.1em solid black
}

span {
    display: block;
    width: 20em;
    overflow-wrap: break-word;
    white-space: normal;
    margin: 0 auto;
}

.dropdown-menu {
    background-color: #666669
}

.nav-item, .dropdown-item {
    font-weight: 700
}

.buttonInf, .staffInf, .elemInf, .confInf, #workersEl, #infDevice, #infAccessories, #addDevicesButton {
    display: none
}

#exitButton {
    position: absolute;
    right: 2.7em;
    top: 0
}

.greetings {
    font-family: Allods Regular Cyr
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1c1c1c
    }

    nav, footer, .dropdown-menu {
        background-color: #4e4e51
    }

    h1, .pFooter {
        color: black
    }

    button, .buttonAdd, .divGet {
        color: gray;
        border-color: gray;
        border-radius: 0.3em
    }

    h2, h3, label, p {
        color: gray
    }

    select, input, textarea {
        color: gray;
        border: 0.1em solid gray;
        background-color: transparent
    }

    select option {
        background-color: #1c1c1c
    }

    input::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    .modalBackground, #popup {
        background-color: black;
        border: 0.001em solid gray
    }

    ::placeholder {
        color: #50504f
    }

    .searchRes {
        background-color: #393636
    }

    hr {
        border-top: 0.3em solid gray
    }

    .dropdown-menu li {
        background-color: #1c1c1c;
        border-left: solid gray;
        border-right: solid gray
    }

    .dropdown-menu li:first-child {
        border-top: solid gray
    }

    .dropdown-menu li:last-child, .modal-header {
        border-bottom: solid gray
    }

    .filterEl option {
        background-color: #1c1c1c
    }

    input[type=file]::file-selector-button {
        color: gray;
        border-right: 0.1em solid gray
    }

    .divRows::before {
        color: gray;
        border: 0.1em solid gray;
    }
}